<div class="content">
  <div class="form-container">
    <h2 style="color: red">Uzupełnij profil!</h2>
    <p>Jest to niezbędne do umawiania wizyt u specjalistów!</p>
    <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="FirstName">Imię</label>
        <input id="FirstName" formControlName="FirstName" type="text" />
        @if (
          profileForm.controls['FirstName'].invalid &&
          profileForm.controls['FirstName'].touched
          ) {
          <div
            >
            Imię jest wymagane.
          </div>
        }
      </div>

      <div class="form-group">
        <label for="LastName">Nazwisko</label>
        <input id="LastName" formControlName="LastName" type="text" />
        @if (
          profileForm.controls['LastName'].invalid &&
          profileForm.controls['LastName'].touched
          ) {
          <div
            >
            Nazwisko jest wymagane.
          </div>
        }
      </div>

      <div class="form-group">
        <label for="DateOfBirth">Data urodzenia</label>
        <input id="DateOfBirth" formControlName="DateOfBirth" type="date" />
        @if (
          profileForm.controls['DateOfBirth'].invalid &&
          profileForm.controls['DateOfBirth'].touched
          ) {
          <div
            >
            Data urodzenia jest wymagana.
          </div>
        }
      </div>

      <div class="form-group">
        <label for="ContactInfo">Numer telefonu</label>
        <input id="ContactInfo" formControlName="ContactInfo" type="text" />
        @if (
          profileForm.controls['ContactInfo'].invalid &&
          profileForm.controls['ContactInfo'].touched
          ) {
          <div
            >
            Numer telefonu jest wymagany.
          </div>
        }
      </div>

      <div class="form-group">
        <label for="Address">Adres</label>
        <input id="Address" formControlName="Address" type="text" />
        @if (
          profileForm.controls['Address'].invalid &&
          profileForm.controls['Address'].touched
          ) {
          <div
            >
            Adres jest wymagany.
          </div>
        }
      </div>

      <button type="submit" [disabled]="profileForm.invalid">
        Zapisz profil
      </button>
    </form>
  </div>
</div>
