.dropdown-select {
  margin-left: 20px;
}
:host ::ng-deep .dropdown-select .p-dropdown {
  min-width: 400px !important;
}
.survey-label {
  font-size: 16px;
}
.btn-navigation {
  display: flex;
  justify-content: space-between;
}
