<div class="modal-header">
  <div><i class="header-icon pi pi-user-edit"></i></div>
  <div>
    <p class="modal-title">Wypełnij ankietę przed wizytą</p>
  </div>
</div>
<div class="modal-body">
  @if(step===0){
  <div class="mb-3">
    <label class="survey-label mb-2" for="dropdownId">Powód wizyty</label>
    <p-dropdown
      class="dropdown-select"
      [options]="visitOptions"
      [(ngModel)]="surveyData.visitReason"
      optionLabel="name"
      [showClear]="true"
      placeholder="Powód wizyty"
      id="dropdownId"
    ></p-dropdown>
  </div>
  } @if(step===1){ @if(surveyData.visitReason.name=='Odnowienie recepty'){
  <div class="mb-3">
    <label class="survey-label mb-2" for="neededMedications"
      >Jakich leków potrzebujesz oraz na jaki okres czasu?</label
    >
    <input
      pInputText
      type="text"
      id="neededMedications"
      [(ngModel)]="surveyData.neededMedications"
      placeholder="Wprowadź leki i okres czasu"
    />
  </div>
  <div class="mb-3">
    <label class="survey-label mb-2" for="currentMedications"
      >Jeśli przyjmujesz obecnie leki, opisz od kiedy i w jakiej dawce:</label
    >
    <input
      pInputText
      type="text"
      id="currentMedications"
      [(ngModel)]="surveyData.currentMedications"
      placeholder="Wprowadź obecnie przyjmowane leki"
    />
  </div>
  } @if(surveyData.visitReason.name=='Objawy przeziębienia'){
  <div class="mb-3">
    <label class="survey-label mb-2" for="dropdownId"
      >Jak długo trwają objawy?</label
    >
    <p-dropdown
      class="dropdown-select"
      [options]="symptomsTime"
      [(ngModel)]="surveyData.symptomsTime"
      optionLabel="name"
      [showClear]="true"
      placeholder="Wybierz czas trwania objawów"
      id="dropdownId"
    ></p-dropdown>
  </div>
  <div class="mb-3">
    <label class="survey-label mb-2" for="dropdownId"
      >Czy występowała podwyższona temperatura?</label
    >
    <p-dropdown
      class="dropdown-select"
      [options]="highTemperature"
      [(ngModel)]="surveyData.highTemperature"
      optionLabel="name"
      [showClear]="true"
      placeholder="Wybierz odpowiedź"
      id="dropdownId"
    ></p-dropdown>
  </div>
  <div class="mb-3">
    <label class="survey-label mb-2" for="dropdownId"
      >Czy ma Pan/Pani kaszel? Jeśli tak to jaki?</label
    >
    <p-dropdown
      class="dropdown-select"
      [options]="haveCough"
      [(ngModel)]="surveyData.haveCough"
      optionLabel="name"
      [showClear]="true"
      placeholder="Wybierz odpowiedź"
      id="dropdownId"
    ></p-dropdown>
  </div>
  <div class="mb-3">
    <label class="survey-label mb-2" for="dropdownId"
      >Czy odczuwasz duszności?</label
    >
    <p-dropdown
      class="dropdown-select"
      [options]="haveNoBreath"
      [(ngModel)]="surveyData.haveNoBreath"
      optionLabel="name"
      [showClear]="true"
      placeholder="Wybierz odpowiedź"
      id="dropdownId"
    ></p-dropdown>
  </div>
  <div class="mb-3">
    <label class="survey-label mb-2" for="dropdownId"
      >Czy boli cię gardło?</label
    >
    <p-dropdown
      class="dropdown-select"
      [options]="haveThroatAche"
      [(ngModel)]="surveyData.haveThroatAche"
      optionLabel="name"
      [showClear]="true"
      placeholder="Wybierz odpowiedź"
      id="dropdownId"
    ></p-dropdown>
  </div>
  <div class="mb-3">
    <label class="survey-label mb-2" for="dropdownId">Czy masz katar?</label>
    <p-dropdown
      class="dropdown-select"
      [options]="haveRunnyNose"
      [(ngModel)]="surveyData.haveRunnyNose"
      optionLabel="name"
      [showClear]="true"
      placeholder="Wybierz odpowiedź"
      id="dropdownId"
    ></p-dropdown>
  </div>
  <div class="mb-3">
    <label class="survey-label mb-2" for="dropdownId"
      >Czy masz problemy z brzuchem? Jeśli tak to jakie?</label
    >
    <p-dropdown
      class="dropdown-select"
      [options]="haveStomachAche"
      [(ngModel)]="surveyData.haveStomachAche"
      optionLabel="name"
      [showClear]="true"
      placeholder="Wybierz odpowiedź"
      id="dropdownId"
    ></p-dropdown>
  </div>
  <div class="mb-3">
    <label class="survey-label mb-2" for="dropdownId"
      >Czy odczuwasz inne dolegliwości?, Jesli tak to jakie?</label
    >
    <p-dropdown
      class="dropdown-select"
      [options]="haveOtherSymptoms"
      [(ngModel)]="surveyData.haveOtherSymptoms"
      optionLabel="name"
      [showClear]="true"
      placeholder="Wybierz odpowiedź"
      id="dropdownId"
    ></p-dropdown>
  </div>
  } @if(surveyData.visitReason.name=='Wystawienie skierowania'){
  <div class="mb-3">
    <label class="survey-label mb-2" for="referralReason"
      >Na co potrzebujesz skierowanie?</label
    >
    <input
      pInputText
      type="text"
      id="referralReason"
      [(ngModel)]="surveyData.referralReason"
      placeholder="Wprowadź powód skierowania"
    />
  </div>
  <div class="mb-3">
    <label class="survey-label mb-2" for="referralCause"
      >Jaki jest powód dla którego potrzebujesz wykonać to
      badanie/wizytę?</label
    >
    <input
      pInputText
      type="text"
      id="referralCause"
      [(ngModel)]="surveyData.referralCause"
      placeholder="Wprowadź powód badania/wizyty"
    />
  </div>
  } @if(surveyData.visitReason.name=='Konsultacja wyników badań'){
  <div class="mb-3">
    <label class="survey-label mb-2" for="testResults"
      >Tutaj opisz wyniki które chciałbyś skonsultować:</label
    >
    <input
      pInputText
      type="text"
      id="testResults"
      [(ngModel)]="surveyData.testResults"
      placeholder="Wprowadź wyniki do konsultacji"
    />
  </div>
  } } @if(step===2){
  <!-- Te pytania są ogólne dla każdego powodu wizyty -->
  <div class="mb-3">
    <label class="survey-label mb-2" for="takeMedications"
      >Czy przyjmujesz jakieś leki?</label
    >
    <p-dropdown
      class="dropdown-select"
      [options]="takeMedications"
      [(ngModel)]="surveyData.takeMedications"
      optionLabel="name"
      [showClear]="true"
      placeholder="Wybierz odpowiedź"
      id="takeMedications"
    ></p-dropdown>
  </div>
  @if(surveyData.takeMedications.name === 'Tak') {
  <div class="mb-3">
    <label class="survey-label mb-2" for="medicationsDetails"
      >Opisz leki, które przyjmujesz:</label
    >
    <input
      pInputText
      type="text"
      id="medicationsDetails"
      [(ngModel)]="surveyData.medicationsDetails"
      placeholder="Wprowadź szczegóły leków"
    />
  </div>
  }

  <div class="mb-3">
    <label class="survey-label mb-2" for="hasAllergy"
      >Czy masz alergię na jakieś leki?</label
    >
    <p-dropdown
      class="dropdown-select"
      [options]="hasAllergy"
      [(ngModel)]="surveyData.hasAllergy"
      optionLabel="name"
      [showClear]="true"
      placeholder="Wybierz odpowiedź"
      id="hasAllergy"
    ></p-dropdown>
  </div>
  @if(surveyData.hasAllergy.name === 'Tak') {
  <div class="mb-3">
    <label class="survey-label mb-2" for="allergyDetails">Opisz alergie:</label>
    <input
      pInputText
      type="text"
      id="allergyDetails"
      [(ngModel)]="surveyData.allergyDetails"
      placeholder="Wprowadź szczegóły alergii"
    />
  </div>
  }

  <div class="mb-3">
    <label class="survey-label mb-2" for="hasChronicDiseases"
      >Czy chorujesz na choroby przewlekłe?</label
    >
    <p-dropdown
      class="dropdown-select"
      [options]="hasChronicDiseases"
      [(ngModel)]="surveyData.hasChronicDiseases"
      optionLabel="name"
      [showClear]="true"
      placeholder="Wybierz odpowiedź"
      id="hasChronicDiseases"
    ></p-dropdown>
  </div>
  @if(surveyData.hasChronicDiseases.name === 'Tak') {
  <div class="mb-3">
    <label class="survey-label mb-2" for="chronicDiseasesDetails"
      >Opisz choroby przewlekłe:</label
    >
    <input
      pInputText
      type="text"
      id="chronicDiseasesDetails"
      [(ngModel)]="surveyData.chronicDiseasesDetails"
      placeholder="Wprowadź szczegóły chorób przewlekłych"
    />
  </div>
  } }
</div>
<div class="modal-footer">
  <div class="btn-navigation">
    <button
      type="button"
      class="btn btn-secondary me-3"
      [disabled]="this.step <= 0"
      (click)="previousStep()"
    >
      Wróć
    </button>
    @if(step < 2) {
    <div class="btn-navigation">
      <button
        type="button"
        class="btn btn-primary"
        [disabled]="this.step > 2"
        (click)="nextStep()"
      >
        Dalej
      </button>
    </div>
    } @if(step === 2) {
    <button
      type="button"
      class="btn btn-outline-dark me-3"
      (click)="activeModal.close('Close click')"
    >
      Anuluj
    </button>
    <button
      type="button"
      class="btn btn-primary"
      [disabled]="surveyFull"
      (click)="saveSurvey()"
    >
      Zapisz
    </button>
    }
  </div>
</div>
