.background {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 94vh;
  justify-content: center;
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.2),
      rgba(255, 255, 255, 0.2)
    ),
    url("../../../assets/img/tło1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.content {
  width: 30vw;
  min-height: 20vh;
  text-align: center;
  display: block;
  background-color: rgba(0, 0, 0, 0.4);
  padding-top: 4vh;
}

.background div {
  margin-bottom: 10px;
}

.head-text {
  font-size: 30px;
  color: white;
}

.visit-switch {
  margin: 10px;
  font-size: 20px;
  color: white;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.visit-switch2 {
  font-size: 20px;
  margin-left: 10px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

p-inputSwitch,
p-button,
p-dropdown {
  margin: 10px;
}

.visit-selects p-dropdown {
  margin: 10px;
}

.visit-selects {
  margin-top: 30px;
}

.content2 {
  width: 90vw;
  min-height: 90vh;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card-container {
  margin-top: 20px;
  border-radius: 10px;
  width: 90%;
  justify-content: center;
  align-items: center;
  height: 70vh;
  overflow-y: scroll;
}

.date-label {
  color: white;
  margin-right: 5px;
  font-size: 20px;
}

.toolbar {
  width: 90%;
  height: 120px;
}

.card {
  margin-top: 30px;
  padding-top: 20px;
}

p-card {
  min-height: 400px;
}

.profile-img {
  height: 100px;
  width: 100px;
}

.profile-img img {
  height: 100px;
  width: 100px;
}

.doctor-text {
  width: 70%;
}
