<div class="background">
  @if (!showDoctors) {
  <div class="content">
    <div class="head-text">Umów wizytę u najlepszego specjalisty</div>
    <form [formGroup]="searchForm" (ngSubmit)="onSubmit()">
      <div class="visit-selects">
        <p-dropdown
          formControlName="specialization"
          [options]="specializations"
          optionLabel="specialization"
          placeholder="Specjalizacja"
          autoWidth="false"
          [style]="{ width: '200px' }"
        >
          <ng-template pTemplate="selectedItem" let-selectedOption>
            <div>{{ selectedOption }}</div>
          </ng-template>
          <ng-template let-specialization pTemplate="item">
            <div>{{ specialization }}</div>
          </ng-template>
        </p-dropdown>

        <p-dropdown
          formControlName="location"
          [options]="locations"
          optionLabel="location"
          placeholder="Miasto"
          [style]="{ width: '200px' }"
        >
          <ng-template pTemplate="selectedItem" let-selectedOption>
            <div>{{ selectedOption }}</div>
          </ng-template>
          <ng-template let-location pTemplate="item">
            <div>{{ location }}</div>
          </ng-template>
        </p-dropdown>

        <div class="date-container">
          <label class="date-label" for="date">Data</label>
          <p-calendar formControlName="date" [showIcon]="true"></p-calendar>
        </div>
      </div>

      <div class="visit-switch">
        <mat-icon>apartment</mat-icon> W gabinecie
        <p-inputSwitch formControlName="appointmentType"></p-inputSwitch>
        <mat-icon>home</mat-icon> Online
      </div>
      <div class="search-button">
        @if (!searchForm.get('specialization')?.value &&
        !searchForm.get('location')?.value) {
        <p style="color: rgb(245, 169, 169)">Wybierz specjalizację i miasto!</p>
        }
        <p-button
          label="Szukaj"
          [disabled]="
            !searchForm.get('specialization')?.value &&
            !searchForm.get('location')?.value
          "
          (click)="searchVisits()"
          type="submit"
          severity="secondary"
        ></p-button>
      </div>
    </form>
  </div>
  } @if (showDoctors) {
  <div class="content2">
    <div class="toolbar">
      <p-toolbar>
        <div class="p-toolbar-group-start"></div>
        <div class="p-toolbar-group-center">
          <form
            class="toolbar-form"
            [formGroup]="searchForm"
            (ngSubmit)="onSubmit()"
          >
            <div class="toolbar-form-inner">
              <p-dropdown
                formControlName="specialization"
                [options]="specializations"
                optionLabel="specialization"
                placeholder="Specjalizacja"
                autoWidth="false"
                [style]="{ width: '200px' }"
              >
                <ng-template pTemplate="selectedItem" let-selectedOption>
                  <div>{{ selectedOption }}</div>
                </ng-template>
                <ng-template let-specialization pTemplate="item">
                  <div>{{ specialization }}</div>
                </ng-template>
              </p-dropdown>

              <p-dropdown
                formControlName="location"
                [options]="locations"
                optionLabel="location"
                placeholder="Miasto"
                [style]="{ width: '200px' }"
              >
                <ng-template pTemplate="selectedItem" let-selectedOption>
                  <div>{{ selectedOption }}</div>
                </ng-template>
                <ng-template let-location pTemplate="item">
                  <div>{{ location }}</div>
                </ng-template>
              </p-dropdown>
              <span style="margin-left: 10px">
                <label style="margin-right: 10px" for="date">Data</label>
                <p-calendar
                  formControlName="date"
                  [showIcon]="true"
                ></p-calendar>
              </span>
              <div class="visit-switch2">
                <mat-icon>apartment</mat-icon> W gabinecie
                <p-inputSwitch
                  formControlName="appointmentType"
                ></p-inputSwitch>
                <mat-icon>home</mat-icon> Online
              </div>
              <div class="search-button">
                @if (searchForm.get('specialization')?.value &&
                searchForm.get('location')?.value) {
                <p-button
                  label="Szukaj"
                  (click)="searchVisits()"
                  type="submit"
                  severity="secondary"
                ></p-button>
                } @else {
                <p style="color: white">Wybierz specjalizację i miasto!</p>
                }
              </div>
            </div>
          </form>
        </div>
        <div class="p-toolbar-group-end"></div>
      </p-toolbar>
    </div>
    <div *ngIf="visits.length" class="card-container">
      <p-card
        *ngFor="let visit of visits"
        class="card"
        [header]="
          'lek. ' +
          visit.Doctor.DoctorProfile.FirstName +
          ' ' +
          visit.Doctor.DoctorProfile.LastName
        "
      >
        <div class="profile-img">
          <img src="../../../assets/img/user_icon.png" />
        </div>
        <div class="doctor-text">
          <strong>Specjalizacja:</strong> {{ visit?.Doctor?.Specialization }}
          <br />
          <strong>Dostępny w mieście:</strong> {{ visit?.Doctor?.Cities }}
          <br />
          <p>
            <strong>Godziny:</strong> {{ visit?.TimeSlotFrom | time }} -
            {{ visit?.TimeSlotTill | time }} dnia
            {{ visit?.AvailableDate | customDate }}
          </p>
        </div>
        <div class="mt-3" style="width: 100%; text-align: center">
          <p-button
            label="Wybierz"
            (click)="bookVisit(visit)"
            type="submit"
            severity="primary"
          ></p-button>
        </div>
      </p-card>
    </div>
    <div *ngIf="!visits.length" class="empty-state">
      <div class="empty-state-content">
        <i class="pi pi-calendar-times"></i>
        <p>Brak dostępnych wizyt!</p>
        <p>Zmień kryteria wyszukiwania i spróbuj wyszukać ponownie</p>
      </div>
    </div>
  </div>
  }
</div>
