* {
  color: black;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 94vh;
  justify-content: left;
  background-image: url("../../../assets/img/doctor_ai.jpg");
  background-repeat: no-repeat;
  background-size: auto 80vh;
  background-position: right center;
}

.container div {
  margin-bottom: 10px;
}

.chat-window {
  width: 50vw;
  margin-left: 100px;
}
