<div class="background">
  <!-- <div>1. Na podstawie objawów generowanie zaleceń</div> -->
  <!-- <div>2. konsultacja np. badań krwi - generowanie podsumowań</div> -->
  <div class="chat-window">
    <p-tabView styleClass="tabview-custom">
      <p-tabPanel>
        <ng-template pTemplate="header">
          <i class="pi pi-calendar"></i>
          <span>Skonsultuj swoje objawy</span>
        </ng-template>
        @if(aiResponseSick) {
        <div class="ai-response-sick">
          <input
            class="ai-response-input"
            pInputText
            id="aiResponseSick"
            [(ngModel)]="aiResponseSick"
          />
        </div>
        }
        <div class="chat-container">
          <input
            placeholder="Opisz szczegółowo swoje objawy"
            class="description-input"
            pInputText
            id="description"
            [(ngModel)]="description"
          />
          <p-button label="Konsultuj" [text]="true"></p-button>
        </div>
      </p-tabPanel>
      <p-tabPanel header="Header II">
        <ng-template pTemplate="header">
          <i class="pi pi-user"></i>
          <span>Skonsultuj wyniki badań</span>
        </ng-template>
        <div class="info-panel">
          Załaduj swoje wyniki badań w formacie pdf lub docx które zostaną
          przeanalizowane przez AI. Na tej podstawie będzie można poznać wstępną
          analizę, ale pamiętaj że przedstawiona analiza nie musi być trafna. W
          celu pewnej analizy umów się do lekarza specjalisty.
        </div>
        <div>
          <label>Dodaj plik</label>
          <textarea></textarea>
        </div>
      </p-tabPanel>
      <p-tabPanel header="Header III">
        <ng-template pTemplate="header">
          <i class="pi pi-search"></i>
          <span>Zobacz swoje zdrowotne zalecenia</span>
          <i class="pi pi-cog"></i>
        </ng-template>
        <div class="header-info">
          Podaj swoje parametry w celu wygenerowania zaleceń.
        </div>
        <div class="user-data-form">
          <span class="p-float-label">
            <input
              class="user-data-input"
              pInputText
              id="gender"
              [(ngModel)]="userParams.gender"
            />
            <label for="gender">Płeć</label>
          </span>
          <span class="p-float-label">
            <input
              class="user-data-input"
              pInputText
              id="age"
              [(ngModel)]="userParams.age"
            />
            <label for="age">Wiek</label>
          </span>
          <span class="p-float-label">
            <input
              class="user-data-input"
              pInputText
              id="weight"
              [(ngModel)]="userParams.weight"
            />
            <label for="weight">Waga</label>
          </span>
          <p-button label="Generuj zalecenia" [text]="true"></p-button>
        </div>
        <div class="ai-response-health">
          <input
            class="ai-response-input"
            pInputText
            id="aiResponseHealth"
            [(ngModel)]="aiResponseHealth"
          />
        </div>
      </p-tabPanel>
    </p-tabView>
  </div>
</div>
