* {
  color: black;
}

.background {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 94vh;
  justify-content: left;
  background-image: url("../../../assets/img/doctor_ai.jpg");
  background-repeat: no-repeat;
  background-size: auto 80vh;
  background-position: right center;
}

.background div {
  margin-bottom: 10px;
}

.chat-window {
  width: 50vw;
  height: 80vh;
  margin-left: 100px;
}

.chat-container {
  text-align: right;
}

.description-input {
  width: 100%;
  height: 100px;
}

.ai-response-input {
  width: 100%;
  min-height: 70px;
}

.user-data-form {
  width: 100%;
  display: block;
  /* min-height: 40vh; */
}

.user-data-form {
  div {
    width: 100%;
    div {
      width: 100%;
      margin: 30px 0px;
    }
  }
}

.user-data-form p-button {
  float: right;
}

.generate-btn {
  height: 50px;
}

.p-float-label {
  margin-bottom: 30px;
}

.header-info {
  margin-bottom: 20px;
}

.textarea-container {
  display: block;
  width: 100%;
  margin: 0 auto;
}

.textarea-container label {
  display: block;
  margin-bottom: 8px;
  text-align: left;
}

.textarea-container textarea {
  width: 100%;
  box-sizing: border-box;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

.textarea-container p-button {
  float: right;
}
