<div class="background">
  <!-- <div>1. Na podstawie objawów generowanie zaleceń</div> -->
  <!-- <div>2. konsultacja np. badań krwi - generowanie podsumowań</div> -->
  <div class="chat-window">
    <p-tabView styleClass="tabview-custom">
      <p-tabPanel>
        <ng-template pTemplate="header">
          <span>Skonsultuj swoje objawy</span>
        </ng-template>
        @if(aiResponseSick) {
        <div class="ai-response-sick">
          <input
            class="ai-response-input"
            pInputText
            id="aiResponseSick"
            [(ngModel)]="aiResponseSick"
          />
        </div>
        }
        <div class="chat-container">
          <input
            placeholder="Opisz szczegółowo swoje objawy"
            class="description-input"
            pInputText
            id="description"
            [(ngModel)]="description"
          />
          <p-button label="Konsultuj" [text]="true"></p-button>
        </div>
      </p-tabPanel>
      <p-tabPanel header="Header II">
        <ng-template pTemplate="header">
          <span>Skonsultuj wyniki badań</span>
        </ng-template>
        <div class="info-panel">
          Załaduj swoje wyniki badań w formacie pdf lub docx które zostaną
          przeanalizowane przez AI. Na tej podstawie będzie można poznać wstępną
          analizę, ale pamiętaj że przedstawiona analiza nie musi być trafna. W
          celu pewnej analizy umów się do lekarza specjalisty.
        </div>
        <div>
          <label class="me-2">Dodaj plik</label>
          <input type="file" (change)="onFileSelected($event)" accept=".txt" />
        </div>
      </p-tabPanel>
      <p-tabPanel header="Header III">
        <ng-template pTemplate="header">
          <span>Zobacz swoje zdrowotne zalecenia</span>
        </ng-template>
        <div class="header-info">
          Podaj swoje parametry w celu wygenerowania zaleceń.
        </div>
        <div class="user-data-form">
          <div>
            <div class="p-float-label">
              <input
                class="user-data-input"
                pInputText
                id="gender"
                [(ngModel)]="userParams.gender"
              />
              <label for="gender">Płeć</label>
            </div>
            <div class="p-float-label">
              <input
                class="user-data-input"
                pInputText
                id="age"
                [(ngModel)]="userParams.age"
              />
              <label for="age">Wiek</label>
            </div>
            <div class="p-float-label">
              <input
                class="user-data-input"
                pInputText
                id="weight"
                [(ngModel)]="userParams.weight"
              />
              <label for="weight">Waga</label>
            </div>
          </div>
          <div class="generate-btn">
            <p-button label="Generuj zalecenia" [text]="true"></p-button>
          </div>
        </div>
        <div class="ai-response-health">
          <div class="textarea-container">
            <label for="recommendations">Zalecenia AI</label>
            <textarea
              [(ngModel)]="aiResponseHealth"
              id="recommendations"
            ></textarea>
          </div>
        </div>
      </p-tabPanel>
      <p-tabPanel header="Header IV">
        <ng-template pTemplate="header">
          <span>Sprawdź zależności między lekami</span>
        </ng-template>
        <div class="info-panel">
          Wypisz swoje lekarstwa wraz z dawkowaniem a zostaną przeanalizowane
          przez AI pod kątem ewentualnych konfliktów między ich składnikami. Na
          tej podstawie będzie można zaproponować lekarzowi zmianę leków lub
          dopasowanie dawkowania aby nie powodować niepożądanych skutków
          ubocznych. Pamiętaj że przedstawiona analiza nie musi być trafna. W
          celu pewnej analizy umów się do lekarza specjalisty.
        </div>
        <div class="textarea-container">
          <label for="symptoms">Opisz objawy</label>
          <textarea id="symptoms"></textarea>
          <p-button label="Sprawdź" [text]="true"></p-button>
        </div>
      </p-tabPanel>
    </p-tabView>
  </div>
</div>
