<div class="dashboard-container">
  <div class="content">
    <div class="profile-img">
      <div class="header-info">
        Karta pacjenta - {{ userData.FirstName }} {{ userData.LastName }}
      </div>

      <img src="../../../assets/img/user_icon.png" />
      <div class="user-data">
        <span class="p-float-label">
          <input
            [disabled]="!isInEditMode"
            class="user-data-input"
            pInputText
            id="name"
            [(ngModel)]="userData.FirstName"
          />
          <label for="name">Imię</label>
        </span>
        <span class="p-float-label">
          <input
            [disabled]="!isInEditMode"
            class="user-data-input"
            pInputText
            id="surname"
            [(ngModel)]="userData.LastName"
          />
          <label for="surname">Nazwisko</label>
        </span>
        <span class="p-float-label">
          <input
            [disabled]="!isInEditMode"
            class="user-data-input"
            pInputText
            id="adres"
            [(ngModel)]="userData.Address"
          />
          <label for="adres">Adres</label>
        </span>
        <p-button
          *ngIf="!isInEditMode"
          (click)="editMode()"
          label="Edytuj"
          [text]="true"
        ></p-button>
        <p-button
          *ngIf="isInEditMode"
          (click)="saveUserData()"
          label="Zapisz"
          [text]="true"
        ></p-button>
      </div>
    </div>
    <div class="dashboard-data">
      <p-tabView *ngIf="dataLoaded" styleClass="tabview-custom">
        <p-tabPanel>
          <ng-template pTemplate="header">
            <span>Nadchodzące wizyty</span>
          </ng-template>
          <div class="timeline">
            <p-timeline
              [value]="events"
              align="alternate"
              styleClass="customized-timeline"
            >
              <ng-template pTemplate="marker" let-event>
                <span
                  class="custom-marker shadow-2"
                  [style.backgroundColor]="event.color"
                >
                  <i [ngClass]="event.icon" [ngStyle]="{ color: 'white' }"></i>
                </span>
              </ng-template>
              <ng-template pTemplate="content" let-event>
                <p-card
                  [header]="event.status | capitalize"
                  [subheader]="event.date"
                >
                  <p>{{ event.doctor }}</p>
                  <p>{{ event.description }}</p>
                  <button
                    pButton
                    style="width: 100%"
                    label="Szczegóły"
                    class="p-button-text"
                  ></button>
                  <ng-container
                    *ngIf="
                      event.status === 'zaplanowana' ||
                      event.status === 'nadchodząca'
                    "
                  >
                    <button
                      pButton
                      label="Wypełnij ankietę przed wizytą"
                      style="width: 100%"
                      (click)="open()"
                    ></button>
                  </ng-container>
                </p-card>
              </ng-template>
            </p-timeline>
            <div *ngIf="!events.length">Brak wizyt</div>
          </div>
        </p-tabPanel>
        <p-tabPanel header="Header II">
          <ng-template pTemplate="header">
            <span>Historia wizyt i badań</span>
          </ng-template>
          <div class="timeline">
            <p-timeline
              [value]="eventsHistory"
              align="alternate"
              styleClass="customized-timeline"
            >
              <ng-template pTemplate="marker" let-event>
                <span
                  class="custom-marker shadow-2"
                  [style.backgroundColor]="event.color"
                >
                  <i [ngClass]="event.icon" [ngStyle]="{ color: 'white' }"></i>
                </span>
              </ng-template>
              <ng-template pTemplate="content" let-event>
                <p-card [header]="event.status" [subheader]="event.date">
                  <p>{{ event.description }}</p>
                  <button
                    pButton
                    style="width: 100%"
                    label="Szczegóły"
                    class="p-button-text"
                  ></button>
                </p-card>
              </ng-template>
            </p-timeline>
            <div *ngIf="!eventsHistory.length">Brak wizyt</div>
          </div>
        </p-tabPanel>
        <p-tabPanel header="Header III">
          <ng-template pTemplate="header">
            <span>Skierowania</span>
          </ng-template>
          <div class="card-container">
            <div class="referral">
              <p-card header="Skierowanie 1">
                <div class="m-0 referral-description">
                  Skierowanie na rezonans
                </div>
                <ng-template pTemplate="footer">
                  <div>Wystawione: 02-01-2024</div>
                  <div>Ważne do: 02-01-2025</div>
                </ng-template>
              </p-card>
            </div>
            <div class="referral">
              <p-card header="Skierowanie 2">
                <div class="m-0 referral-description">Skierowanie na TK</div>
                <ng-template pTemplate="footer">
                  <div>Wystawione: 02-01-2024</div>
                  <div>Ważne do: 02-01-2025</div>
                </ng-template>
              </p-card>
            </div>
            <div class="referral">
              <p-card header="Skierowanie 3">
                <div class="m-0 referral-description">
                  Skierowanie na badania krwi
                </div>
                <ng-template pTemplate="footer">
                  <div>Wystawione: 02-01-2024</div>
                  <div>Ważne do: 02-01-2025</div>
                </ng-template>
              </p-card>
            </div>
          </div>
        </p-tabPanel>
        <p-tabPanel header="Header III">
          <ng-template pTemplate="header">
            <span>Recepty</span>
          </ng-template>
          <div class="card-container">
            <div *ngFor="let prescription of prescriptions" class="referral">
              <p-card [header]="'Recepta na ' + prescription.medicine">
                <ng-template pTemplate="content">
                  <div class="m-0 referral-description">
                    {{ prescription.dosage }} - {{ prescription.instructions }}
                  </div>
                </ng-template>
                <ng-template pTemplate="footer">
                  <div>
                    Wystawione:
                    {{ prescription.appointmentDate | date : "dd-MM-yyyy" }}
                  </div>
                  <div>
                    Ważne do:
                    {{ prescription.appointmentDate | date : "dd-MM-yyyy" }}
                  </div>
                  <!-- Adjust the expiration date logic as needed -->
                </ng-template>
              </p-card>
            </div>
          </div>
        </p-tabPanel>
      </p-tabView>
    </div>
  </div>
</div>
