<div class="container">
  <div class="content">
    <div class="profile-img">
      <img src="../../../assets/img/user_icon.png" />
      <div class="user-data">
        <span class="p-float-label">
          <input
            class="user-data-input"
            pInputText
            id="name"
            [(ngModel)]="name"
          />
          <label for="name">Imię</label>
        </span>
        <span class="p-float-label">
          <input
            class="user-data-input"
            pInputText
            id="surname"
            [(ngModel)]="surname"
          />
          <label for="surname">Nazwisko</label>
        </span>
        <span class="p-float-label">
          <input
            class="user-data-input"
            pInputText
            id="email"
            [(ngModel)]="email"
          />
          <label for="email">Email</label>
        </span>
        <p-button label="Edytuj" [text]="true"></p-button>
        <p-button label="Zapisz" [text]="true"></p-button>
      </div>
    </div>
    <div class="dashboard-data">
      <p-tabView styleClass="tabview-custom">
        <p-tabPanel>
          <ng-template pTemplate="header">
            <i class="pi pi-calendar"></i>
            <span>Nadchodzące wizyty</span>
          </ng-template>
          oś czasu pokazująca nadchodzące wizyty z możliwością wypełnienia
          ankiety
          <p-button
            label="Wypełnij ankietę przed wizytą"
            [text]="true"
          ></p-button>
          <!-- <app-survey></app-survey> -->
        </p-tabPanel>
        <p-tabPanel header="Header II">
          <ng-template pTemplate="header">
            <i class="pi pi-user"></i>
            <span>Historia wizyt i badań</span>
          </ng-template>
          oś czasu przeszłych wizyt z możliwoścą przejścia do ich zaleceń
        </p-tabPanel>
        <p-tabPanel header="Header III">
          <ng-template pTemplate="header">
            <i class="pi pi-search"></i>
            <span>Skierowania</span>
            <i class="pi pi-cog"></i>
          </ng-template>
          karty ze skierowaniami
        </p-tabPanel>
        <p-tabPanel header="Header III">
          <ng-template pTemplate="header">
            <i class="pi pi-search"></i>
            <span>Recepty</span>
            <i class="pi pi-cog"></i>
          </ng-template>
          karty z recepatmi
        </p-tabPanel>
      </p-tabView>
    </div>
  </div>
</div>
