.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  justify-content: center;
}

.content {
  margin-top: 50px;
  width: 80vw;
  height: 80vh;
  text-align: center;
  display: flex;
}

.profile-img {
  width: 40%;
  padding: 10px;
}

.profile-img img {
  height: 40%;
}

.dashboard-data {
  width: 60%;
  min-height: 60vh;
  padding: 10px;
  font-size: 25px;
}

.user-data {
  height: 60%;
  padding: 30px;
}

.user-data-input {
  width: 100%;
}

.p-float-label {
  margin-bottom: 20px;
}
