<div class="dashboard-container">
  <div class="content">
    <div class="profile-img">
      <div class="header-info">
        Karta lekarza - {{ userData.FirstName }} {{ userData.LastName }}
      </div>

      <img src="../../../assets/img/user_icon.png" />
      <div class="user-data">
        <span class="p-float-label">
          <input
            [disabled]="!isInEditMode"
            class="user-data-input"
            pInputText
            id="name"
            [(ngModel)]="userData.FirstName"
          />
          <label for="name">Imię</label>
        </span>
        <span class="p-float-label">
          <input
            [disabled]="!isInEditMode"
            class="user-data-input"
            pInputText
            id="surname"
            [(ngModel)]="userData.LastName"
          />
          <label for="surname">Nazwisko</label>
        </span>
        <span class="p-float-label">
          <input
            [disabled]="!isInEditMode"
            class="user-data-input"
            pInputText
            id="specialization"
            [(ngModel)]="doctorData.Specialization"
          />
          <label for="specialization">Specjalizacja</label>
        </span>
        <span class="p-float-label">
          <input
            [disabled]="!isInEditMode"
            class="user-data-input"
            pInputText
            id="cities"
            [(ngModel)]="doctorData.Cities"
          />
          <label for="cities">Lista miast w których przyjmuję pacjentów</label>
        </span>
        <span class="p-float-label">
          <input
            [disabled]="!isInEditMode"
            class="user-data-input"
            pInputText
            id="adres"
            [(ngModel)]="userData.Address"
          />
          <label for="adres">Adres</label>
        </span>
        <p-button
          *ngIf="!isInEditMode"
          (click)="editMode()"
          label="Edytuj"
          [text]="true"
        ></p-button>
        <p-button
          *ngIf="isInEditMode"
          (click)="saveUserData()"
          label="Zapisz"
          [text]="true"
        ></p-button>
      </div>
    </div>
    <div class="dashboard-data">
      <p-tabView styleClass="tabview-custom">
        <p-tabPanel>
          <ng-template pTemplate="header">
            <span>Mój grafik</span>
          </ng-template>
          <div class="timeline">
            <p-timeline
              [value]="events"
              align="alternate"
              styleClass="customized-timeline"
            >
              <ng-template pTemplate="marker" let-event>
                <span
                  class="custom-marker shadow-2"
                  [style.backgroundColor]="event.color"
                >
                  <i [ngClass]="event.icon" [ngStyle]="{ color: 'white' }"></i>
                </span>
              </ng-template>
              <ng-template pTemplate="content" let-event>
                <p-card [header]="event.status" [subheader]="event.date">
                  <p>{{ event.description }}</p>
                  <button
                    pButton
                    style="width: 100%"
                    label="Szczegóły"
                    class="p-button-text"
                  ></button>
                </p-card>
              </ng-template>
            </p-timeline>
          </div>
        </p-tabPanel>
        <p-tabPanel header="Header II">
          <ng-template pTemplate="header">
            <span>Dodaj dyspozycyjność</span>
          </ng-template>
          <form (ngSubmit)="onSubmit(scheduleForm)" #scheduleForm="ngForm">
            <div class="form-container">
              <div class="me-3">
                <label for="date" class="me-2">Data:</label>
                <p-calendar
                  inputId="date"
                  name="date"
                  [(ngModel)]="date"
                  dateFormat="yy-mm-dd"
                  [minDate]="today"
                  [required]="true"
                ></p-calendar>
              </div>
              <div class="me-3">
                <label for="startTime" class="me-2">Od:</label>
                <p-calendar
                  inputId="startTime"
                  name="startTime"
                  [(ngModel)]="startTime"
                  hourFormat="24"
                  [required]="true"
                  [timeOnly]="true"
                ></p-calendar>
              </div>
              <div class="me-3">
                <label for="endTime" class="me-2">Do:</label>
                <p-calendar
                  inputId="endTime"
                  name="endTime"
                  [(ngModel)]="endTime"
                  hourFormat="24"
                  [required]="true"
                  [timeOnly]="true"
                ></p-calendar>
              </div>
            </div>

            <div class="mb-3">
              <label for="duration" class="me-2"
                >Czas trwania wizyty (minuty):</label
              >
              <input
                type="number"
                id="duration"
                pInputText
                name="duration"
                [(ngModel)]="duration"
                required
              />
            </div>
            <button
              pButton
              type="submit"
              label="Dodaj"
              (click)="onSubmit(scheduleForm)"
              [disabled]="!isFormValid()"
            ></button>
          </form>
        </p-tabPanel>
        <p-tabPanel header="Header III">
          <ng-template pTemplate="header">
            <span>Historia wizyt</span>
          </ng-template>
        </p-tabPanel>
        <p-tabPanel header="Header III">
          <ng-template pTemplate="header">
            <span>Wystawione recepty</span>
          </ng-template>
        </p-tabPanel>
      </p-tabView>
    </div>
  </div>
</div>
