<div class="menu-container">
  <mat-toolbar color="primary">
    <a class="logo-link" routerLink="/">
      <img class="logo" src="../../../assets/img/logo.png" />
      <div class="logo-text">Portal pacjenta</div>
    </a>
    <span class="spacer"></span>
    <button class="menu-option" mat-button routerLink="/strona1">
      Umów wizytę
    </button>
    <button class="menu-option" mat-button routerLink="/strona2">
      AI-Doctor
    </button>
    <button class="menu-option" mat-button routerLink="/login">
      Moje konto
    </button>
    <button class="menu-option" mat-button routerLink="/login">Zaloguj</button>
    <button class="menu-option" mat-button routerLink="/register">
      Zarejestruj się
    </button>
  </mat-toolbar>
</div>
