@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";
@import "primeicons/primeicons.css";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.tabview-custom .p-tabview-nav li a {
  text-decoration: none;
}

.tabview-custom .p-tabview-nav li a:after,
.tabview-custom .p-tabview-nav li a:before {
  display: none;
}
