@import '../node_modules/bootstrap/dist/css/bootstrap.min.css';
@import 'primeicons/primeicons.css';

body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.tabview-custom .p-tabview-nav li a {
  text-decoration: none;
}

.tabview-custom .p-tabview-nav li a:after,
.tabview-custom .p-tabview-nav li a:before {
  display: none;
}

body.dark-theme {
  background-color: #121212;
  color: #ffffff;
}

.dark-theme .mat-toolbar {
  background-color: #333333;
  color: #ffffff;
}
