<div id="content">
  <div id="register-container">
    <h2>Zarejestruj się</h2>
    <form [formGroup]="registerForm" (ngSubmit)="register()">
      <div class="input-box">
        <mat-form-field>
          <input
            matInput
            type="text"
            id="username"
            placeholder="Nazwa użytkownika"
            autocomplete="off"
            formControlName="username"
            required
          />
        </mat-form-field>

        <mat-form-field>
          <input
            matInput
            type="password"
            id="password"
            placeholder="Hasło"
            autocomplete="off"
            formControlName="password"
            required
          />
          <mat-error>Minimalna długość 4 znaki</mat-error>
        </mat-form-field>

        <mat-form-field>
          <input
            matInput
            type="text"
            id="email"
            placeholder="Email"
            autocomplete="off"
            formControlName="email"
            required
          />
        </mat-form-field>
      </div>
      <input
        type="submit"
        value="Zarejestruj"
        id="registerInput"
        [disabled]="!registerForm.valid"
      />
    </form>
  </div>
</div>
