<div class="dashboard-container">
  <div class="content">
    <div class="profile-img">
      <div class="header-info">
        Karta lekarza - {{ userData.FirstName }} {{ userData.LastName }}
      </div>

      <img src="../../../assets/img/user_icon.png" />
      <div class="user-data">
        <span class="p-float-label">
          <input
            [disabled]="!isInEditMode"
            class="user-data-input"
            pInputText
            id="name"
            [(ngModel)]="userData.FirstName"
            />
          <label for="name">Imię</label>
        </span>
        <span class="p-float-label">
          <input
            [disabled]="!isInEditMode"
            class="user-data-input"
            pInputText
            id="surname"
            [(ngModel)]="userData.LastName"
            />
          <label for="surname">Nazwisko</label>
        </span>
        <span class="p-float-label">
          <input
            [disabled]="!isInEditMode"
            class="user-data-input"
            pInputText
            id="specialization"
            [(ngModel)]="doctorData.Specialization"
            />
          <label for="specialization">Specjalizacja</label>
        </span>
        <span class="p-float-label">
          <input
            [disabled]="!isInEditMode"
            class="user-data-input"
            pInputText
            id="cities"
            [(ngModel)]="doctorData.Cities"
            />
          <label for="cities">Lista miast w których przyjmuję pacjentów</label>
        </span>
        <span class="p-float-label">
          <input
            [disabled]="!isInEditMode"
            class="user-data-input"
            pInputText
            id="adres"
            [(ngModel)]="userData.Address"
            />
          <label for="adres">Adres</label>
        </span>
        @if (!isInEditMode) {
          <p-button
            (click)="editMode()"
            label="Edytuj"
            [text]="true"
          ></p-button>
        }
        @if (isInEditMode) {
          <p-button
            (click)="saveUserData()"
            label="Zapisz"
            [text]="true"
          ></p-button>
        }
      </div>
    </div>
    <div class="dashboard-data">
      <p-tabs value="0" class="tabview-custom">
        <p-tablist>
          <p-tab value="0"><span>Mój grafik</span></p-tab>
          <p-tab value="1"><span>Dodaj dyspozycyjność</span></p-tab>
          <p-tab value="2"><span>Historia wizyt</span></p-tab>
          <p-tab value="3"><span>Wystawione recepty</span></p-tab>
        </p-tablist>

        <p-tabpanels>
          <p-tabpanel value="0">
            @if (events.length) {
              <div class="timeline">
                <p-timeline
                  [value]="combinedData"
                  align="alternate"
                  styleClass="customized-timeline"
                  >
                  <ng-template pTemplate="marker" let-event>
                    <span
                      class="custom-marker shadow-2"
                      [style.backgroundColor]="event.color"
                      >
                      <i [ngClass]="event?.icon" [ngStyle]="{ color: 'white' }"></i>
                    </span>
                  </ng-template>
                  <ng-template pTemplate="content" let-event>
                    <p-card
                      [header]="event?.Appointment?.Status | capitalize"
                  [subheader]="
                    (event?.AvailableDate | customDate) +
                    ' ' +
                    (event?.TimeSlotFrom | time) +
                    '-' +
                    (event?.TimeSlotTill | time)
                  "
                      >
                      <p>
                        Pacjent: {{ event.Appointment.PatientProfile.FirstName }}
                        {{ event.Appointment.PatientProfile.LastName }}
                      </p>
                      <button
                        pButton
                        (click)="showDetails(event)"
                        style="width: 100%"
                        label="Szczegóły"
                        class="p-button-text"
                      ></button>
                    </p-card>
                  </ng-template>
                </p-timeline>
              </div>
            }
          </p-tabpanel>
          <p-tabpanel value="1">
            <form (ngSubmit)="onSubmit(scheduleForm)" #scheduleForm="ngForm">
              <div class="form-container">
                <div class="me-3">
                  <label for="date" class="me-2">Data:</label>
                  <p-datePicker
                    inputId="date"
                    name="date"
                    [(ngModel)]="date"
                    dateFormat="yy-mm-dd"
                    [minDate]="today"
                    [required]="true"
                  ></p-datePicker>
                </div>
                <div class="me-3">
                  <label for="startTime" class="me-2">Od:</label>
                  <p-datePicker
                    inputId="startTime"
                    name="startTime"
                    [(ngModel)]="startTime"
                    hourFormat="24"
                    [required]="true"
                    [timeOnly]="true"
                  ></p-datePicker>
                </div>
                <div class="me-3">
                  <label for="endTime" class="me-2">Do:</label>
                  <p-datePicker
                    inputId="endTime"
                    name="endTime"
                    [(ngModel)]="endTime"
                    hourFormat="24"
                    [required]="true"
                    [timeOnly]="true"
                  ></p-datePicker>
                </div>
              </div>

              <div class="mb-3">
                <label for="duration" class="me-2"
                  >Czas trwania wizyty (minuty):</label
                  >
                  <input
                    type="number"
                    id="duration"
                    pInputText
                    name="duration"
                    [(ngModel)]="duration"
                    required
                    />
                </div>
                <button
                  pButton
                  type="submit"
                  label="Dodaj"
                  (click)="onSubmit(scheduleForm)"
                  [disabled]="!isFormValid()"
                ></button>
              </form>
            </p-tabpanel>
            <p-tabpanel value="2">
              @if (historyEvents.length) {
                <div class="timeline">
                  <p-timeline
                    [value]="historyEvents"
                    align="alternate"
                    styleClass="customized-timeline"
                    >
                    <ng-template pTemplate="marker" let-event>
                      <span
                        class="custom-marker shadow-2"
                        [style.backgroundColor]="event.color"
                        >
                        <i [ngClass]="event?.icon" [ngStyle]="{ color: 'white' }"></i>
                      </span>
                    </ng-template>
                    <ng-template pTemplate="content" let-event>
                      <p-card
                        [header]="event?.Appointment?.Status | capitalize"
                  [subheader]="
                    (event?.AvailableDate | customDate) +
                    ' ' +
                    (event?.TimeSlotFrom | time) +
                    '-' +
                    (event?.TimeSlotTill | time)
                  "
                        >
                        <p>
                          Pacjent: {{ event.Appointment.PatientProfile.FirstName }}
                          {{ event.Appointment.PatientProfile.LastName }}
                        </p>
                        <button
                          pButton
                          (click)="showDetails(event)"
                          style="width: 100%"
                          label="Szczegóły"
                          class="p-button-text"
                        ></button>
                      </p-card>
                    </ng-template>
                  </p-timeline>
                </div>
              }
            </p-tabpanel>
            <p-tabpanel value="3"></p-tabpanel>
          </p-tabpanels>
        </p-tabs>
      </div>
    </div>
  </div>
